# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.*~
project.lock.json
*.pyc
nupkg/
artifacts/
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.[Dd]evelopment.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
.vs/
x86/
build/
bld/
[Bb]in/**
src/**/[Bb]in
src/**/[Oo]bj
[Oo]bj/**
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

